$theme : "dark"; // "light" or "dark"

$card-type : "card"; 
// цвета для тега "new"
$tag-new-text-light: #b00020;
$tag-new-bg-light: rgba(176, 0, 32, 0.12);

$tag-new-text-dark: #ffb4ab;
$tag-new-bg-dark: rgba(176, 0, 32, 0.35);
// цвета для тега "popular"
$tag-popular-text-light: #00796b;
$tag-popular-bg-light: rgba(0, 121, 107, 0.12);

$tag-popular-text-dark: #80cbc4;
$tag-popular-bg-dark: rgba(0, 121, 107, 0.35);


@mixin tag-color($text-color, $background-color) {
    background-color: $background-color;
    color: $text-color;
}

@mixin shadow() {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.25s ease;
}

@mixin translate($x, $y) {
    transition: transform 0.15s ease-in-out;
    &:hover {
        transform: translate($x, $y);
    }    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;    
}

body {
    @if $theme == "light" {
        background-color: #ffffff;
        color: #000000;
    } @else if $theme == "dark" {
        background-color: #333333;
        color: #ffffff;
    }
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    background-color: #f0f0f0;
    margin: 20px;
    align-items: center;
    
    @if $theme == "light" {
        background-color: #ffffff;
    } @else if $theme == "dark" {
        background-color: #444444;
    }
    width: 500px;
    height: 340px;
    flex-direction: column;
    justify-content: space-between;
    
}

.card__info {
    padding-left: 10px;
    width: 100%;
    
}

.card__image {
    overflow: hidden;
    object-fit: cover;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.card__header {
    display: flex;
    align-items: center;
    flex-direction: column;

    
}
.card__body {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    & span {
        font-size: 14px;
        font-weight: bold;
        opacity: 0.8;

    }
}

.card__tags {
    display: flex;
    gap: 10px;  
    font-size: 14px;
    align-items: center;
}

.card__text {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp:3;
    
}

.card__tag {
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: semibold;
    
    &.popular {
        @if $theme == "light" {
            @include tag-color($tag-popular-text-light, $tag-popular-bg-light);
        } @else if $theme == "dark" {
            @include tag-color($tag-popular-text-dark, $tag-popular-bg-dark);
        }
    }
    
    &.new {
        @if $theme == "light" {
            @include tag-color($tag-new-text-light, $tag-new-bg-light);
        } @else if $theme == "dark" {
            @include tag-color($tag-new-text-dark, $tag-new-bg-dark);
        }
    }
    &:hover {
        @include shadow();
    }
    
}

.card__button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.3s ease;

    
    @if $theme == "light" {
        background-color: #007BFF;
        &:hover {
            background-color: #0056b3;
        }
    } @else if $theme == "dark" {
        background-color: #1e88e5;
        &:hover {
            background-color: #1565c0;
        }
    }
}
